{% extends "mainHtml.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/zoznam.css') }}">
{% endblock %}
{% block title %}Zoznam Tried{% endblock %}
{% block content %}

<div class="buttons-container" style="justify-content: center">
    {% for opravnenie in opravnenia %}
        {% if opravnenie == 5 %}
        <a href="/uzivatelia" class="button" style="text-decoration: none; font-family: 'Arial', sans-serif">Zoznam Užívateľov</a>
        {% endif %}
        {% if opravnenie == 17 %}
        <a href="/Triedy" class="button" style="text-decoration: none; font-family: 'Arial', sans-serif">Zoznam Tried</a>
        {% endif %}
        {% if opravnenie == 16 %}
        <a href="/Ucebne" class="button" style="text-decoration: none; font-family: 'Arial', sans-serif">Zoznam Učební</a>
        {% endif %}
        {% if opravnenie == 15 %}
        <a href="/Predmety" class="button" style="text-decoration: none; font-family: 'Arial', sans-serif">Zoznam Predmetov</a>
        {% endif %}
        {% if opravnenie == 19 %}
        <a href="/Rocniky" class="button" style="text-decoration: none; font-family: 'Arial', sans-serif">Zoznam Ročníkov</a>
        {% endif %}
    {% endfor %}
</div>

<div class="zoznam">
    <div class="controls-container">
        <div class="search-container">
            <label>
                <input type="text" onkeyup="triedyFilter()" placeholder="Search for names.." class="search-input">
            </label>
            <label>Výber Ročníku:
                <select onchange="filterRocniky()" class="rights-selector">
                    <option value="All">All</option>
                    <option value="None">None</option>
                    {% for rocnik in rocniky %}
                        <option value="{{ rocnik[0] }}">{{ rocnik[0] }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="buttons-container">
            {% for opravnenie in opravnenia %}
                {% if opravnenie == 31 %}
                    <button id="addTriedaButton" class="button">Pridať Triedu</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="table-container">
        <table class="table">
        <thead>
            <tr>
                <th class="id-column">#</th>
                <th style="width: 7%">Učebňa</th>
                <th style="width: 15%">Názov</th>
                <th>Triedny Učiteľ</th>
                <th  style="width: 10%">Počet žiakov</th>
                <th  style="width: 10%">Ročník</th>
                <th style="width: 10%">Akcie</th>
            </tr>
        </thead>
        <tbody>
            {% for trieda in Triedy %}
            <tr>
                <td class="id-column">{{ trieda[0] }}</td>
                <td>{{ trieda[1] }}</td>
                <td>{{ trieda[2] }}</td>
                <td>{{ trieda[3] }}</td>
                <td>{{ trieda[4] }}</td>
                <td>{{ trieda[5] }}</td>
                <td>
                    {% for opravnenie in opravnenia %}
                        {% if opravnenie == 33 %}
                            <button class="EditTrieda">Edit</button>
                        {% endif %}
                        {% if opravnenie == 32 %}
                            <button class="delTrieda">Delete</button>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

<div id="addTriedu" class="modal">
    <div class="modal-content">
        <a class="addUcebnuclose">X</a>
        <label for="Nazov">Nazov: </label><input class="search-input" id="Nazov" placeholder="Názov" type="text"><br>
        <label for="Triedny">Triedny: </label><input class="search-input" id="Triedny" value="None" type="text" readonly><br>
        <a id="ziaci" style="display: none"><label for="ZadanyZiaci">ZadanyZiaci: </label><input class="search-input" id="ZadanyZiaci" value="None" type="text" readonly><br></a>
        <a id="predmety" style="display: none"><label for="ZadanePredmety">Zadané Predmety: </label><input class="search-input" id="ZadanePredmety" value="None" type="text" readonly><br></a>
        <label for="Ucebna">Ucebna: </label><input class="search-input" id="Ucebna" value="None" type="text" readonly><br>
        <label>Výber Ročníku:
                <select class="rights-selector addTriedu">
                    <option value="None">None</option>
                    {% for rocnik in rocniky %}
                        <option value="{{ rocnik[0] }}">{{ rocnik[0] }}</option>
                    {% endfor %}
                </select>
            </label>
        <div class="buttons-container">
            <button id="addTrieduSave" class="button">Uložiť</button>
        </div>
    </div>
</div>

<div id="vyberTriedny_Ziaci" class="modal">
    <div class="modal-content">
        <a class="vyberTriedny_Ziaciclose">X</a>
            <input style="width: 20%" type="text" id="vybervyberTriedny_Ziacifiler" placeholder="Search for names..." class="search-input">
            <select onchange="filterRocnikyPredmetu()" style="display: none" class="rights-selector" id="predmeSelect"></select>
        <div class="table-modal-container">
            <table class="modal-table">
                <thead>
                    <tr>
                        <th class="box"></th>
                        <th id="id" class="id-column">ID</th>
                        <th id="meno">Meno Priezvisko</th>
                        <th id="role">Meno Učiteľa</th>
                        <th id="rocnik">Ročník</th>
                    </tr>
                </thead><tbody><tr></tr></tbody>
            </table>
        </div>
        <div class="buttons-container">
            <button id="vyberTriedny_ZiaciSaveButton" class="button">Uložiť</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='javascript/Triedy.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/zoznam.js') }}"></script>
{% endblock %}
