{% extends "mainHtml.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/zoznam.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Triedy.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profil.css') }}">
{% endblock %}
{% block title %}Profil{% endblock %}
{% block content %}
<div class="profile-container">
  <div class="profile-photo">
    {% if photo_url %}
      <img src="{{ photo_url }}" id="photoElement" alt="Profilová fotka" style="max-width:100%;max-height:100%;">
    {% else %}
      <form action="{{ url_for('upload_photo') }}" method="post" enctype="multipart/form-data">
        {% for opravnenie in opravnenia %}
          {% if opravnenie == 2 and not editUzivatela%}
            <label for="photo-upload" class="button">Nahraj fotku</label>
            <input id="photo-upload" type="file" name="photo" style="display: none;" onchange="this.form.submit()">
          {% endif %}
        {% endfor %}
      </form>
    {% endif %}
  </div>
    <div class="profile-info">
      <h2>Môj Profil</h2>
      <div class="info"><strong>Os číslo:</strong> <a id="osCislo">{{ udaje[0] }} </a></div>
      <div class="info"><strong>Rod číslo:</strong> <a id="RodCislo">{{ udaje[3] }} </a></div>
      <div class="info">
        <label for="MenoPriezvisko"><strong>Meno a priezvisko:</strong></label>
        <input type="text" id="MenoPriezvisko" name="meno_priezvisko" value="{{ udaje[1] }} {{ udaje[2] }}">
        <span class="error-message" id="menoPriezviskoError" style="display: none; color: red;">Vyplňte toto pole.</span>
      </div>
      <div class="info"><strong>Pohlavie:</strong> <a id="Pohlavie">{{ udaje[4] }} </a></div>
      <div class="info">
        <label for="Adresa"><strong>Adresa:</strong></label>
        <input type="text" id="Adresa" name="adresa" value="{{ udaje[5] }}">
      </div>
      <div class="info">
        <label for="TelCislo"><strong>Tel číslo:</strong></label>
        <input type="text" id="TelCislo" name="tel_cislo" value="{{ udaje[6] }}">
      </div>
      <div class="info">
        <label for="Email"><strong>Email:</strong></label>
        <input type="email" id="Email" name="email" value="{{ udaje[7] }}">
      </div>
      <button type="button" class="button" id="ulozButton">Ulož</button>
      {% if editUzivatela %}
      <a class="button" href="/uzivatelia">Späť</a>
      {% else %}
      <a class="button" id="uzivatel" href="/profil">Späť</a>
      {% endif %}
      {% if opravnenie == 6 %}
      <button class="button" id="prihlasovacieUdaje">Upraviť Prihlasovacie Údaje</button>
      {% endif %}
      {% if modifyChild %}
      <button class="button" id="modifyChild">Upraviť Deti</button>
      {% endif %}
      <button class="button" id="vymazButton">Vymaz Fotku</button>
    </div>
</div>
<div id="delModal" class="modal">
    <div class="modal-content">
      Vážne chcete odstrániť Profilovú fotku?
      <a class="delModalclose">X</a>
      <button id="delButton">Vymazať</button>
    </div>
</div>
<div id="modifyChildModal" class="modal">
    <div class="modal-content">
        <a class="modifyChildclose">X</a>
            <input style="width: 20%" type="text" id="vybervyberTriedny_Ziacifiler" placeholder="Search for names..." class="search-input">
        <div class="table-modal-container">
            <table class="modal-table">
                <thead>
                    <tr>
                        <th class="box"></th>
                        <th id="id" class="id-column">ID</th>
                        <th id="meno">Meno Priezvisko</th>
                        <th id="role">Práva</th>
                        <th id="rocnik">Ročník</th>
                    </tr>
                </thead><tbody><tr></tr></tbody>
            </table>
        </div>
        <div class="buttons-container">
            <button id="modifyChildSaveButton" class="button">Uložiť</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/editProfil.js') }}"></script>
{% endblock %}
