{% extends "mainHtml.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editPrihlasenie.css') }}">
{% endblock %}
{% block title %}Edit Prihlasovacie Udaje{% endblock %}
{% block content %}
<div class="profile-container">
<div class="profile-info">
    <h2>Zmena prihlasovacích údajov</h2>
    <div class="info"><strong>Os číslo:</strong> <a id="osCislo">{{ udaje[0] }} </a></div>
    <div class="info"><strong>Prihlasovacie Meno:</strong> <a id="Prihlasovacie Meno">{{ udaje[9] }} </a></div>
      <div class="info">
        <label for="stareheslo"><strong>Zadajte staré heslo:</strong></label>
        <input type="password" id="stareheslo" name="stareheslo" >
        <span class="toggle-password" id="toggle-stareheslo">👁️</span>
        <span class="error-message" id="starehesloError" style="display: none; color: red;">Heslo sa nezhoduje.</span>
      </div>
      <div class="info">
        <label for="noveheslo"><strong>Zadajte nové heslo:</strong></label>
        <input type="password" id="noveheslo" name="noveheslo">
        <span class="toggle-password" id="toggle-noveheslo">👁️</span>
      </div>
      <div class="info">
        <label for="opaknoveheslo"><strong>Opakujte nové heslo:</strong></label>
        <input type="password" id="opaknoveheslo" name="opaknoveheslo" >
        <span class="toggle-password" id="toggle-opaknoveheslo">👁️</span>
        <span class="error-message" id="opaknovehesloError" style="display: none; color: red;">Heslá sa nezhodujú.</span>
      </div>
      <button type="button" class="button" id="ulozButton">Ulož</button>
        <a class="button" id="uzivatel" href="/profil">Späť</a>
  </div>
</div>

<script src="{{ url_for('static', filename='javascript/editPrihlasenie.js') }}"></script>

{% endblock %}