{% extends "menu.html" %}
{% block head %}
<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
  }
  .profile-container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: flex-start;
  }
  .profile-info {
    flex: 1;
  }
  .profile-info h2 {
    color: #333;
    font-size: 24px;
  }
  .profile-info .info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
</style>
{% endblock %}
{% block title %}Edit Prihlasovacie Udaje{% endblock %}
{% block content %}
<div class="profile-container">
<div class="profile-info">
    <h2>Zmena prihlasovacích údajov</h2>
    <div class="info"><strong>Os číslo:</strong> <a id="osCislo">{{ udaje[0] }} </a></div>
    <div class="info"><strong>Prihlasovacie Meno:</strong> <a id="Prihlasovacie Meno">{{ udaje[9] }} </a></div>
      <div class="info">
        <label for="stareheslo"><strong>Zadajte staré heslo:</strong></label>
        <input type="password" id="stareheslo" name="stareheslo" >
        <span class="toggle-password" id="toggle-stareheslo">👁️</span>
        <span class="error-message" id="starehesloError" style="display: none; color: red;">Heslo sa nezhoduje.</span>
      </div>
      <div class="info">
        <label for="noveheslo"><strong>Zadajte nové heslo:</strong></label>
        <input type="password" id="noveheslo" name="noveheslo">
        <span class="toggle-password" id="toggle-noveheslo">👁️</span>
      </div>
      <div class="info">
        <label for="opaknoveheslo"><strong>Opakujte nové heslo:</strong></label>
        <input type="password" id="opaknoveheslo" name="opaknoveheslo" >
        <span class="toggle-password" id="toggle-opaknoveheslo">👁️</span>
        <span class="error-message" id="opaknovehesloError" style="display: none; color: red;">Heslá sa nezhodujú.</span>
      </div>
      <button type="button" class="button" id="ulozButton">Ulož</button>
        <a class="button" id="uzivatel" href="/profil">Späť</a>
  </div>
</div>

<script>
  document.getElementById('toggle-stareheslo').addEventListener('mouseover', function() {
  document.getElementById('stareheslo').type = 'text';
});
document.getElementById('toggle-stareheslo').addEventListener('mouseout', function() {
  document.getElementById('stareheslo').type = 'password';
});

document.getElementById('toggle-noveheslo').addEventListener('mouseover', function() {
  document.getElementById('noveheslo').type = 'text';
});
document.getElementById('toggle-noveheslo').addEventListener('mouseout', function() {
  document.getElementById('noveheslo').type = 'password';
});

document.getElementById('toggle-opaknoveheslo').addEventListener('mouseover', function() {
  document.getElementById('opaknoveheslo').type = 'text';
});
document.getElementById('toggle-opaknoveheslo').addEventListener('mouseout', function() {
  document.getElementById('opaknoveheslo').type = 'password';
});

document.getElementById('ulozButton').addEventListener('click', function() {
      var id = document.getElementById('osCislo').textContent;
      var Prihlasovacie_Meno = document.getElementById('Prihlasovacie Meno').textContent;
      var stareheslo = document.getElementById('stareheslo').value;
      var noveheslo = document.getElementById('noveheslo').value;
      var opaknoveheslo = document.getElementById('opaknoveheslo').value;
      document.getElementById('starehesloError').style.display = 'none';
      document.getElementById('opaknovehesloError').style.display = 'none';
      var formData = {
          id_: id,
          Prihlasovacie_Meno: Prihlasovacie_Meno,
          stareheslo: stareheslo,
          noveheslo: noveheslo
      };

      sendRequest('over_ulozHeslo','POST', ({stareheslo: formData}), (data) => {
        if (!data['result']) {
          document.getElementById('starehesloError').style.display = 'inline';
        }
      });
      if ((noveheslo !== opaknoveheslo) || (!noveheslo || !opaknoveheslo)) {
          document.getElementById('opaknovehesloError').style.display = 'inline';
          return;
      }
      sendRequest('over_ulozHeslo','POST', ({formData: formData}), (data) => {
        if (!data['result']) {
          return;
        }
        window.location.href = '/profil';
      });
  });
</script>

{% endblock %}