<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Menu{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template_css.css') }}">
    <script src="{{ url_for('static', filename='javascript/menu.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div class="top-bar">
    <div class="container" onclick="toggleNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="imge">
        <a href="\dashboard"><img src="/static/images/logo.png" alt="logo.png" width=50px height=50px></a>
    </div>
    <div class="dropdownYear">
     <select id="zvolenýRok" onchange="changeRok()">
        {% for skolskyRok in skolskeRoky %}
            {% if zvolenyRok == skolskyRok[0]%}
                <option value="{{skolskyRok[0]}}" selected>{{skolskyRok[0]}}</option>
            {% else %}
                <option value="{{skolskyRok[0]}}">{{skolskyRok[0]}}</option>
            {% endif %}
        {% endfor %}
    </select>
        </div>
        <div class="dropdown">
        <button>Prihlásený ako: <br>{{ meno }}</button>
        <div class="dropdown-content">
            <a href="/profil">Môj profil</a>
            <a href="/logout">Odhlásiť sa</a>
        </div>
            </div>
</div>
<div id="mySidebar" class="sidebar">
        <a href="\Rozvrh">Rozvrhy</a>
        <a href="\EditZnamky">Známky</a>
    {% for opravnenie in opravnenia %}
        {% if opravnenie == 'Zobraz pozicie' %}
        <a href="\pozicie">Pozície</a>
        {% endif %}
        {% if opravnenie == 'Zobraz pokus' %}
        {% endif %}
        {% if opravnenie in ['Zoznam pouzivatelov'] %}
    <div class="dropdown-sidebar">
        <a href="javascript:void(0)" class="dropbtn-sidebar">Zoznamy</a>
        <div class="dropdown-content-sidebar">
            {% if opravnenie == 'Zoznam pouzivatelov' %}
            <a href="\uzivatelia">Zoznam používateľov</a>
            {% endif %}
            <a href="\Predmety">Zoznam Predmetov</a>
            <a href="\Ucebne">Zoznam Učební</a>
            <a href="\Triedy">Zoznam Tried</a>
            <a href="\skolskeRoky">Školské Roky</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="extend">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
