{% extends "mainHtml.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Pozicie.css') }}">
{% endblock %}

{% block title %}Pozície{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="header">
        Vyber Rolu:
        <select id="roleSelect" onchange="rolePrePravo()" class="rights-selector">
            <option value="None" >None</option>
            {% for pravo in prava %}
            <option value="{{ pravo[0] }}" >{{ pravo[1] }}</option>
            {% endfor %}
            </select>
    </div>
    <div class="left-sidebar">
        <div class="word selected" onclick="VybranaRola(this)">All</div>
        {% for rola in role %}
            <div class="word" onclick="VybranaRola(this)">{{rola[0]}}</div>
        {% endfor %}
    </div>
    <div class="main-header">
    <div class="search-container">
            <label>
                <strong>Rýchle hľadanie</strong>
                <input type="text" onkeyup="searchFunction()" placeholder="Search " class="search-input">
            </label>
            <label>
                <input onchange="kombik()" type="checkbox" id="combineFilterCheckbox"> Kombinovať filtre
            </label>
        </div>
    </div>
    <div class="main-content">
        <a id="pravoList">
        </a>
    </div>
    <div class="right-sidebar">
        <div class="buttons-container">
            <button id="update" class="button">Update</button>
            <button id="add" class="button">Pridať Rolu</button>
            <button id="delete" class="button">Vymazať Rolu</button>
        </div>
    </div>
</div>

<div id="addModal" class="modal">
    <div class="modal-content">
        <a class="addModalclose">X</a>
        <h2>Pridat Pozíciu</h2>
        <input type="text" class="search-input" id="nazovPozicie" placeholder="Názov pozície">
        <button type="button" class="button" id="ulozButton">Ulož</button>
        <span class="error-message" id="nazovPozicieExistuje" style="display: none; color: red;">Táto pozícia existuje.</span>
        Skopírovať Rolu z:
        <select id="addRoleSelect">
            <option value="None" >None</option>
            {% for pravo in prava %}
            <option value="{{ pravo[0] }}" >{{ pravo[1] }}</option>
            {% endfor %}
            </select>
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/Pozicie.js') }}"></script>
{% endblock %}
