{% extends "menu.html" %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* Adjusting the grid-template-rows to decrease the size of both headers */
    grid-template-rows: 0.1fr 0.1fr auto; /* Both headers reduced */
    gap: 10px;
    width: 75%;
    height: 75vh;
    margin: 10px auto;
  }

  .header, .main-header, .main-content, .left-sidebar, .right-sidebar {
    border: 2px solid black;
  }

  .header {
    grid-column: 1 / -1;
    grid-row: 1;
    /* Additional styling for size adjustments could be added here if necessary */
  }

  .main-header {
    grid-column: 2;
    grid-row: 2;
    /* Adjust styling as needed for size, padding, or font adjustments */
  }

  .main-content {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px;
    overflow-y: auto; /* Scrollbar if content overflows */
    max-height: 75vh;
  }

  .left-sidebar {
    grid-column: 1;
    grid-row: 2 / 4;
    overflow-y: auto; /* Scrollbar if content overflows */
    max-height: 75vh;
  }

  .right-sidebar {
    grid-column: 3;
    grid-row: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .word {
    cursor: pointer;
    margin: 5px;
  }

  .selected {
    background-color: yellow;
  }
  .search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-container {
    padding: 5px;
    justify-content: flex-start;
  }
  .buttons-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    justify-content: center;
    padding: 10px 0;
  }
  .button, .rights-selector {
    background-color: #73bdad;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0; /* Adjust margin for vertical spacing */
    font-size: 16px;
  }
  .modal {
        display: none;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 20%;
    }
    .addModalclose {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .addModalclose:hover,
    .addModalclose:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .search-input {
        padding: 10px 20px;
        font-size: 16px;
        border-color: #73bdad;
        background-color: white;
        color: black;
        margin-right: 5px;
        cursor: pointer;
    }
    .search-input:focus {
        outline: none;
    }
    .search-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-container {
        padding: 5px;
        justify-content: flex-start;
    }
</style>
{% endblock %}

{% block title %}Pozície{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="header">
        Vyber Rolu:
        <select id="roleSelect" onchange="rolePrePravo()" class="rights-selector">
            <option value="None" >None</option>
            {% for pravo in prava %}
            <option value="{{ pravo[0] }}" >{{ pravo[1] }}</option>
            {% endfor %}
            </select>
    </div>
    <div class="left-sidebar">
        <div class="word selected" onclick="VybranaRola(this)">All</div>
        {% for rola in role %}
            <div class="word" onclick="VybranaRola(this)">{{rola[0]}}</div>
        {% endfor %}
    </div>
    <div class="main-header">
    <div class="search-container">
            <label>
                <strong>Rýchle hľadanie</strong>
                <input type="text" onkeyup="searchFunction()" placeholder="Search " class="search-input">
            </label>
            <label>
                <input onchange="kombik()" type="checkbox" id="combineFilterCheckbox"> Kombinovať filtre
            </label>
        </div>
    </div>
    <div class="main-content">
        <a id="pravoList">
        </a>
    </div>
    <div class="right-sidebar">
        <div class="buttons-container">
            <button id="update" class="button">Update</button>
            <button id="add" class="button">Pridať Rolu</button>
            <button id="delete" class="button">Vymazať Rolu</button>
        </div>
    </div>
</div>

<div id="addModal" class="modal">
    <div class="modal-content">
        <a class="addModalclose">X</a>
        <h2>Pridat Pozíciu</h2>
        <input type="text" class="search-input" id="nazovPozicie" placeholder="Názov pozície">
        <button type="button" class="button" id="ulozButton">Ulož</button>
        <span class="error-message" id="nazovPozicieExistuje" style="display: none; color: red;">Táto pozícia existuje.</span>
        Skopírovať Rolu z:
        <select id="addRoleSelect">
            <option value="None" >None</option>
            {% for pravo in prava %}
            <option value="{{ pravo[0] }}" >{{ pravo[1] }}</option>
            {% endfor %}
            </select>
    </div>
</div>

<script>
    document.getElementById('add').onclick = function () {
        document.getElementById('nazovPozicieExistuje').style.display = "none";
        let modal = document.getElementById('addModal');
        modal.style.display = "block";
        document.getElementsByClassName('addModalclose')[0].onclick = function () {
            modal.style.display = "none";
            return
        }
        document.getElementById('ulozButton').onclick = function () {
            let nazov = document.getElementById('nazovPozicie').value;
            if (nazov) {
                sendRequest('/vytvorRolu', 'POST', ({nazov: nazov, copy: document.getElementById('addRoleSelect').value}), (data) => {
                    if (data['result']) {
                        nazov.textContent = "";
                        document.getElementById('nazovPozicieExistuje').textContent = "Táto pozícia existuje.";
                        document.getElementById('nazovPozicieExistuje').style.display = "block";
                        return
                    } else {
                        window.location.href = '/pozicie';
                    }
                })
            }else {
               document.getElementById('nazovPozicieExistuje').textContent = "Nezadali ste žiadny názov";
               document.getElementById('nazovPozicieExistuje').style.display = "block";
               return
            }
        }
    }


    document.getElementById('delete').onclick = function () {
         var selectedRoleId = document.getElementById('roleSelect').value;
         if(selectedRoleId !== 'None') {
             sendRequest('/dellRolu', 'POST', ({id: selectedRoleId}), (data) => {
                 window.location.href = '/pozicie';
            })
         }
    }

    document.getElementById('update').onclick = function () {
        var selectedRoleId = document.getElementById('roleSelect').value;
        if(selectedRoleId !== 'None') {
            var checkboxes = document.querySelectorAll('#pravoList input[type="checkbox"]:checked');
            var opravnenia = [];

            checkboxes.forEach(function (checkbox) {
                opravnenia.push(checkbox.parentElement.textContent.trim());
            });

            var data = {
                id: selectedRoleId,
                opravnenia: opravnenia
            };

            sendRequest('/updateRolu', 'POST', (data), (data) => {
            })
        }
    }
    function searchFunction() {
        if (document.getElementById('combineFilterCheckbox').checked) {
            kombik()
        } else {
            var input = document.querySelector(".search-input").value.toLowerCase();
            var checkboxes = document.querySelectorAll(".checkboxItem");
            checkboxes.forEach(function (checkbox) {
                var text = checkbox.textContent.toLowerCase();
                if (text.includes(input)) {
                    checkbox.style.display = "";
                } else {
                    checkbox.style.display = "none";
                }
            });
        }
    }
    function kombik() {
        var input = document.querySelector(".search-input").value.toLowerCase();
        var checkboxes = document.querySelectorAll(".checkboxItem");
        const kat = document.querySelector('.selected').textContent;
        checkboxes.forEach(function (checkbox) {
            var text = checkbox.textContent.toLowerCase();
            if (text.includes(input) && (checkbox.getAttribute('kategoria') === kat || kat === 'All')) {
                checkbox.style.display = "";
            } else {
                checkbox.style.display = "none";
            }
        });
    }

    function VybranaRola(selectedElement) {
        const previouslySelected = document.querySelector('.selected');
        if (previouslySelected) {
            previouslySelected.classList.remove('selected');
        }
        selectedElement.classList.add('selected');
        sorting()
    }

    function sorting() {
    if (document.getElementById('combineFilterCheckbox').checked) {
        kombik()
    } else {
        const kat = document.querySelector('.selected').textContent;
        const checkboxes = document.querySelectorAll('.checkboxItem');
        checkboxes.forEach((checkbox) => {
            if (checkbox.getAttribute('kategoria') === kat || kat === 'All') {
                checkbox.style.display = '';
            } else {
                checkbox.style.display = 'none';
            }
        });
    }
}
    function rolePrePravo() {
    let roleList = document.getElementById("roleSelect");
    let rola = roleList.options[roleList.selectedIndex].value;
    let mainContent = document.getElementById('pravoList');
    mainContent.innerHTML = '';

    if (rola !== "None") {
        sendRequest('/getOpravneniaAll', 'GET', null, (roleAll) => {
            sendRequest('/getOpravneniaPozicie', 'POST', {rolaid: rola}, (opravneniaPozicie) => {
                roleAll.forEach((item) => {
                    let positionPermissionsSet = new Set(opravneniaPozicie.map(opravneniaPozicie => opravneniaPozicie[0]));
                    const isChecked = positionPermissionsSet.has(item[1]);
                    const checkboxHTML = `<div class="checkboxItem" kategoria="${item[2]}"><label><input type="checkbox" ${isChecked ? 'checked' : ''}>${item[1]}</label><br></div>`;
                    mainContent.innerHTML += checkboxHTML;
                });
        sorting();
            });
        });
    }
}


</script>
{% endblock %}
