{% extends "mainHtml.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profil.css') }}">
{% endblock %}
{% block title %}Profil{% endblock %}
{% block content %}
<div class="profile-container">
<div class="profile-photo">
  {% if photo_url %}
    <img src="{{ photo_url }}" id="photoElement" alt="Profilová fotka" style="max-width:100%;max-height:100%;">
  {% else %}
    <form action="{{ url_for('upload_photo') }}" method="post" enctype="multipart/form-data">
      {% for opravnenie in opravnenia %}
        {% if opravnenie == 2 and not editUzivatela  %}
          <label for="photo-upload" class="button">Nahraj fotku</label>
          <input id="photo-upload" type="file" name="photo" style="display: none;" onchange="this.form.submit()">
        {% endif %}
      {% endfor %}
    </form>
  {% endif %}
</div>

  <div class="profile-info">
    <h2>Môj Profil</h2>
    <div class="info" id="osCislo"><strong>Os číslo:</strong> {{ udaje[0] }}</div>
    <div class="info" id="RodCislo"><strong>Rod číslo:</strong> {{ udaje[3] }}</div>
    <div class="info" id="MenoPriezvisko"><strong>Meno a priezvisko:</strong> {{ udaje[1] }} {{ udaje[2] }}</div>
    <div class="info" id="Pohlavie"><strong>Pohlavie:</strong> {{ udaje[4] }}</div>
    <div class="info" id="Adresa"><strong>Adresa:</strong> {{ udaje[5] }}</div>
    <div class="info" id="TelCislo"><strong>Tel číslo:</strong> {{ udaje[6] }}</div>
    <div class="info" id="Email"><strong>Email:</strong> {{ udaje[7] }}</div>
    {% for opravnenie in opravnenia %}
      {% if opravnenie == 3 %}
        <a class="button" href="/editProfil" id="editButton">Upraviť</a>
      {% endif %}
      {% if opravnenie == 4 %}
        <button class="button" id="vymazButton">Vymaz Fotku</button>
      {% endif %}
      {% if opravnenie == 6 %}
        <a class="button" href="/prihlasovacieUdaje" id="prihlasovacieUdaje">Upraviť Prihlasovacie Údaje</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div id="delModal" class="modal">
        <div class="modal-content">
            Vážne chcete odstrániť Profilovú fotku?
            <a class="delModalclose">X</a>
            <button id="delButton">Vymazať</button>
        </div>
    </div>

<script src="{{ url_for('static', filename='javascript/profil.js') }}"></script>
{% endblock %}
