{% extends "mainHtml.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/zoznam.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/Rozvrh.css') }}" >
{% endblock %}
{% block title %}Rozvrh{% endblock %}
{% block content %}
<div class="buttons-container" style="justify-content: center">
    <select class="rights-selector" id="triedy">
        {% if zvolena == None %}
            <option value="" selected>Vyberte triedu</option>
        {% else %}
            <option value="">Vyberte triedu</option>
        {% endif %}
        {% for trieda in triedy %}
            {% if zvolena == trieda[0] %}
                <option value="{{ trieda[0] }}" selected>{{ trieda[1] }}</option>
            {% else %}
                <option value="{{ trieda[0] }}">{{ trieda[1] }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select class="rights-selector" id="PolRokSet">
        <option value="0">Prvý Polrok</option>
        <option value="1">Druhý Polrok</option>
    </select>
    <a href="/Rozvrh" class="button" style="text-decoration: none; font-family: 'Arial', sans-serif">Späť</a>
</div>
<table class="rozvrh">
    <tr id="hodiny">
        <th></th>
        <th>7:45 - 8:30</th>
        <th>8:40 - 9:25</th>
        <th>9:40 - 10:25</th>
        <th>10:45 - 11:30</th>
        <th>11:40 - 12:25</th>
        <th>12:30 - 13:15</th>
        <th>13:30 - 14:15</th>
    </tr>
    <tr>
        <th id="den=1">Pondelok</th>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
    </tr>
    <tr>
        <th id="den=2">Utorok</th>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
    </tr>
    <tr>
        <th id="den=3">Streda</th>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
    </tr>
    <tr>
        <th  id="den=4">Štvrtok</th>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
    </tr>
    <tr>
        <th  id="den=5">Piatok</th>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
        <td class="predmet"></td>
    </tr>
</table>

<div id="EditRozvrh" class="modal">
    <div class="modal-content-Rozvrh">
        <a class="EditRozvrhclose">X</a>
        <div class="table-modal-container">
            <table class="modal-table">
                <thead>
                    <tr>
                        <th class="box"></th>
                        <th style="width: 8%">Ročník</th>
                        <th>Názov</th>
                        <th>Skratka</th>
                        <th>Vyučujúci</th>
                        <th>Asistent</th>
                        <th>Skratka Učebne</th>
                    </tr>
                </thead><tbody><tr></tr></tbody>
            </table>
        </div>
        <div class="buttons-container">
            <button id="SaveEditRozvrh" class="button">Uložiť</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/zoznam.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/Rozvrh.js') }}"></script>
{% endblock %}
